body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.color_white{
    color: white;
    font-size: 20px;
}

.width_img{
    width: 300px;
}

.caroul_div{
    width: 300px;
    overflow: hidden;
    border: 2px solid #ccc;
    position: relative;
}



footer{
    background-color: rgb(255,190,10);
    font-size: 20px;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
li{
    list-style: none;
}
.main_class{
    margin-bottom: 20px;
}
.footer_title{
    font-family: sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2em;
    color: black;
}


/* Gastronomia */

.gradiente_food{
    position: absolute;
    background: linear-gradient(black,transparent);
    width: 100%;
    height: 30%;
}
.parrafo_food{
    position: absolute;
    width: 100%;
    top: 35%;
}
.subtitle_img_food_main{
    font-size: 3em;
    font-weight: 600;
    font-style: italic;
    color: white;
    text-align: center;
    text-shadow: 5px 0px 0px black;
}
.img_food_main{
    position: relative;
    max-width: 1200px;
}
.subtitle_food{
    margin: 10px 30px;
}

.card_custom{
    margin: 10px;
    width: 40%;
    padding: 3px;
}
.cards_food{
    width: 100%;
}

@media (max-width:900px) {
    .disabled_flex{
        display: none;
    }
}