body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
footer{
    background-color: rgb(255,190,10);
    font-size: 20px;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
li{
    list-style: none;
}
.shadow_letter{
    text-shadow: 10px 20px 0px black;
}
.color_white{
    color: white;
    font-size: 20px;
}
.color_black{
    color: black;
    font-size: 20px;
}

.width_img{
    width: 300px;
}
.title_main{
    font-size: 3em;
    font-weight: 600;
    font-style: italic;
    color: white;
    text-align: center;
    text-shadow: 20px 10px 5px black;
}

/* main */
.caroul_div{
    width: 300px;
    overflow: hidden;
    border: 2px solid #ccc;
    position: relative;
}



.main_class{
    margin-bottom: 20px;
}
.footer_title{
    font-family: sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2em;
    color: black;
}





/* Gastronomia */

.gradiente_food{
    position: absolute;
    background: linear-gradient(black,transparent);
    width: 100%;
    height: 30%;
}
.parrafo_food{
    position: absolute;
    width: 100%;
    top: 35%;
}
.subtitle_img_food_main{
    font-size: 3em;
    font-weight: 600;
    font-style: italic;
    color: white;
    text-align: center;
    text-shadow: 5px 0px 0px black;
}
.img_food_main{
    position: relative;
    max-width: 1200px;
}
.subtitle_food{
    margin: 10px 30px;
}

.card_custom{
    margin: 10px;
    width: 40%;
    padding: 3px;
}
.cards_food{
    width: 100%;
}

@media (max-width:900px) {
    .disabled_flex{
        display: none;
    }
}

/* Actividades y Eventos */

.img_act_events{
    width: 100%;
    background: url("../img/actividades_eventos/multimedia.grande.94faea66e16223d5.ZmFtaWxpYXMtanVqZWFzLWNlbGVicmFfOTk4NDg0X2dyYW5kZS53ZWJw.webp");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.row{
    align-items: center;
}


/* Costumbres y cultura */

.cultural_container{
    background: url("../img/cultura_costumbres/DSC_8314.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 1000px;
}
.costumbres_container{
    background: url("../img/cultura_costumbres/fotojet-2022-10-29t105738824jpg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
}
.middle_container{
    width: 100%;
    background: rgb(255,190,10);
    height: 100px;
}
.main_cultural{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 60px;
    text-shadow: 0px 2px 2px black;
}
.subtitle_cultural_activities{
    font-size: 80px;
    padding: 15px 40px;
    text-shadow: 0px 10px 5px black;
}
.text_cult_act{
    text-align: center;
    width: 50%;
    font-size: 20px;
    padding: 10px 20px;
    text-shadow: 0px 0px 10px black;
}
.card_img_cult{
    width: 400px;
}
.text_cult_act_parrafo{
    font-size: 20px;
    padding: 15px 40px;
    text-shadow: 1px 1px 5px white;
}
.acordion_cult{
    max-width: 1000px;
}
@media (max-width:1300px){
    .text_cult_act{
        width: 100%;
    }
}
@media (max-width:900px){
    .card_img_cult{
        width: 70%;
    }
    .cultural_container{
        height: 1300px;
    }
    .subtitle_min_celular{
        font-size: 50px;
    }
}

@media (max-width:600px){
    svg, .map_container h2{
        display: none;
    }
}
/* atractivos geograficos */

.img_geografico{
    width: 100%;
    height: 200px;
    background-image: url("../img/atractivos_geograficos/geografico.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 20px;
}

.bi-info-circle-fill{
    font-size: 40px;
}

.card_container_cult{
    border-top: 2px solid black;
    background:rgb(255, 255, 255);
    background: linear-gradient(black,transparent,black);
}

.map_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.map_container :hover{
    fill: rgb(5, 5, 5);
    
}